<?xml version="1.0" encoding="utf-8"?>

<!--
  Дополнительные сведения по настройке приложения ASP.NET см. по ссылке
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <!-- Объявляем строки для темы и тела письма об ошибке  -->  
    
  <appSettings>
    <add key="VoteDataStrategy" value="Debug"/>
    <add key="EReciever" value="admin@admin.ru"/>
    <add key="ESubject" value="Ошибка"/>
    <add key="EBody" value="Произошла ошибка"/>
  </appSettings>

  <!-- Объявляем стартовую страницу  -->  
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="/Welcome.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>

  <!-- Объявляем переход на страницу с ошибками  -->
  <system.web>

      <customErrors defaultRedirect="/Error.aspx" mode="Off">
        <error statusCode="403" redirect="/Error.aspx"/>
        <error statusCode="105" redirect="/Error.aspx"/>
      </customErrors>
      
      <compilation debug="true" targetFramework="4.5.2"/>
      <httpRuntime targetFramework="4.5.2"/>
    </system.web>
  <connectionStrings>    
    <add name="SharepointConStr" connectionString="Server=rswdapp88;Database=WSS_Content;User Id=orgchart;Password=VQb0A0l2wc7IUTcPW2tg;"/>
  </connectionStrings>
  

</configuration>
